@model TestCase.UI.Models.Account.LoginModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="container">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "form-group", role = "form"}))
    {
        @Html.LabelFor(m => m.Username, "Username: ", new {@class = "col-sm"})
        @Html.TextBoxFor(m => m.Username, new {@class = "form-control"})
        @Html.LabelFor(m => m.Password, "Password: ", new {@class = "col-sm"})
        @Html.TextBoxFor(m => m.Password, new {@class = "form-control"})
        <button type="submit" class="btn btn-primary">Login</button>
    }
</div>
</body>
</html>